source https://api.nuget.org/v3/index.json
framework: net45
nuget Microsoft.CodeAnalysis.CSharp.Workspaces

group Analyzers
  source https://api.nuget.org/v3/index.json
  nuget AsyncUsageAnalyzers 1.0.0-alpha003
  nuget StyleCop.Analyzers 1.0.0

group Test
  source https://api.nuget.org/v3/index.json
  framework: net45
  nuget NUnit
